<a href="https://colab.research.google.com/github/iamX55/Natural-Language-processing/blob/main/Agression_detection_using_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
X_train = pd.read_csv("trac_train.csv")
X_test = pd.read_csv("trac_test.csv")
y_test= pd.read_csv("trac_test.csv")
y_train= pd.read_csv("trac_train.csv")
X_train.groupby('Sub-task A').describe()

              ID                       Text         \
           count unique      top freq count unique
Sub-task A
CAG          453    453  C7.1642    1   453    453
NAG         3375   3375  C45.451    1  3375   3375
OAG          435    435   C7.240    1   435    435

                                                                   Sub-task B  \
                                                          top freq      count
Sub-task A
CAG         Even when kabir singh was unaware that Preeti ...    1        453
NAG                                                 Next part    1       3375
OAG         feminism means equality not discrimination fir...    1        435


           unique   top  freq
Sub-task A
CAG             2  NGEN   418
NAG             2  NGEN  3241
OAG             2  NGEN   295

In [ ]:
X_train.head()

,ID,Text,Sub-task A,Sub-task B
0,C45.451,Next part,NAG,NGEN
1,C47.11,Iii8mllllllm\nMdxfvb8o90lplppi0005,NAG,NGEN
2,C33.79,ðŸ¤£ðŸ¤£ðŸ˜‚ðŸ˜‚ðŸ¤£ðŸ¤£ðŸ¤£ðŸ˜‚osm vedio ....keep it up...make more v...,NAG,NGEN
3,C4.1961,What the fuck was this? I respect shwetabh and...,NAG,NGEN
4,C10.153,Concerned authorities should bring arundathi R...,NAG,NGEN

In [ ]:
X_train.drop(X_train.columns[[0,2,3]],axis=1,inplace=True)
X_test.drop(X_test.columns[[0,2,3]],axis=1,inplace=True)

In [ ]:
X_train.head()

                                                Text
0                                          Next part
1                 Iii8mllllllm\nMdxfvb8o90lplppi0005
2  ðŸ¤£ðŸ¤£ðŸ˜‚ðŸ˜‚ðŸ¤£ðŸ¤£ðŸ¤£ðŸ˜‚osm vedio ....keep it up...make more v...
3  What the fuck was this? I respect shwetabh and...
4  Concerned authorities should bring arundathi R...

In [ ]:
X_test.head()

                                                Text
0        U deserve more subscribers. U really great.
1                                     Nice video....
2  sorry if i bother somebody.. iam a defence asp...
3  Joker was amazing....it was not glamorised !.....
4                                          Nice baro

In [ ]:
def transform_df(X):
    if X=='CAG':
        return 3
    if X=='NAG':
        return 1
    if X=='OAG':
        return 2

In [ ]:
y_train['Sub-task A']=y_train['Sub-task A'].apply(transform_df)

In [ ]:
y_test['Sub-task A']=y_test['Sub-task A'].apply(transform_df)

In [ ]:
y_train.head()

,ID,Text,Sub-task A,Sub-task B
0,C45.451,Next part,1,NGEN
1,C47.11,Iii8mllllllm\nMdxfvb8o90lplppi0005,1,NGEN
2,C33.79,ðŸ¤£ðŸ¤£ðŸ˜‚ðŸ˜‚ðŸ¤£ðŸ¤£ðŸ¤£ðŸ˜‚osm vedio ....keep it up...make more v...,1,NGEN
3,C4.1961,What the fuck was this? I respect shwetabh and...,1,NGEN
4,C10.153,Concerned authorities should bring arundathi R...,1,NGEN

In [ ]:
y_test.head()

,ID,Text,Sub-task A,Sub-task B
0,C7.2589,U deserve more subscribers. U really great.,1,NGEN
1,C68.872,Nice video....,1,NGEN
2,C36.762,sorry if i bother somebody.. iam a defence asp...,1,GEN
3,C4.1540.1,Joker was amazing....it was not glamorised !.....,1,NGEN
4,C59.68,Nice baro,1,NGEN

In [ ]:
y_train.drop(y_train.columns[[0,1,3]],axis=1,inplace=True)

y_train.head()

   Sub-task A
0           1
1           1
2           1
3           1
4           1

In [ ]:
y_test.drop(y_test.columns[[0,1,3]],axis=1,inplace=True)

y_test.head()

   Sub-task A
0           1
1           1
2           1
3           1
4           1

In [ ]:
X_train.head()

                                                Text
0                                          Next part
1                 Iii8mllllllm\nMdxfvb8o90lplppi0005
2  ðŸ¤£ðŸ¤£ðŸ˜‚ðŸ˜‚ðŸ¤£ðŸ¤£ðŸ¤£ðŸ˜‚osm vedio ....keep it up...make more v...
3  What the fuck was this? I respect shwetabh and...
4  Concerned authorities should bring arundathi R...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_count = v.fit_transform(X_train.Text)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
v.vocabulary_

{'next': 5423,
 'part': 5775,
 'iii8mllllllm': 3882,
 'mdxfvb8o90lplppi0005': 5012,
 'osm': 5672,
 'vedio': 8305,
 'keep': 4394,
 'it': 4180,
 'up': 8219,
 'make': 4878,
 'more': 5227,
 'vedios': 8306,
 'like': 4708,
 'this': 7872,
 'what': 8513,
 'the': 7830,
 'fuck': 3196,
 'was': 8451,
 'respect': 6615,
 'shwetabh': 7169,
 'and': 622,
 'have': 3595,
 'been': 1068,
 'watching': 8465,
 'his': 3692,
 'videos': 8343,
 'for': 3125,
 'quite': 6310,
 'long': 4778,
 'time': 7929,
 'but': 1442,
 'review': 6655,
 'shit': 7119,
 'nobody': 5473,
 'wants': 8441,
 'to': 7951,
 'watch': 8463,
 'movie': 5259,
 'reality': 6444,
 'or': 5643,
 'blah': 1221,
 'you': 8692,
 'dont': 2559,
 'movies': 5261,
 'inspiration': 4065,
 'would': 8620,
 'rather': 6407,
 'read': 6433,
 'books': 1293,
 'biographies': 1196,
 'yes': 8683,
 'its': 4185,
 'true': 8076,
 'that': 7828,
 'some': 7309,
 'people': 5847,
 'are': 726,
 'getting': 3310,
 'influenced': 4021,
 'doing': 2543,
 'all': 556,
 'shitty': 7122,
 'fuckery': 3202,
 'just': 4313,
 'think': 7865,
 'anyone': 672,
 'who': 8533,
 'takes': 7716,
 'seriouslyis': 7036,
 'already': 571,
 'chutiya': 1674,
 'go': 3361,
 'theatre': 7833,
 'in': 3947,
 'india': 3981,
 'if': 3876,
 'really': 6448,
 'seek': 6990,
 'logical': 4765,
 'scripts': 6954,
 'characters': 1588,
 'without': 8570,
 'plotholes': 5973,
 'then': 7845,
 'wouldnt': 8622,
 'be': 1039,
 'kabir': 4328,
 'singh': 7210,
 'so': 7285,
 'made': 4852,
 'views': 8356,
 'cause': 1523,
 'theres': 7852,
 'no': 5470,
 'need': 5391,
 'called': 1463,
 'raw': 6419,
 'one': 5605,
 'thing': 7863,
 'acted': 405,
 'forgot': 3144,
 'name': 5332,
 'seriously': 7035,
 'know': 4472,
 'whole': 8535,
 'story': 7494,
 'pronounced': 6184,
 'overhyped': 5699,
 'mess': 5071,
 'wrongly': 8645,
 'oh': 5590,
 'common': 1819,
 'concerned': 1858,
 'authorities': 871,
 'should': 7144,
 'bring': 1366,
 'arundathi': 776,
 'roy': 6738,
 'other': 5674,
 'these': 7853,
 'type': 8124,
 'of': 5569,
 'before': 1071,
 'law': 4599,
 'land': 4571,
 'giving': 3340,
 'anti': 658,
 'national': 5357,
 'statements': 7463,
 'seems': 6991,
 'want': 8438,
 'famous': 2945,
 'nothing': 5497,
 'they': 7855,
 'don': 2554,
 'care': 1495,
 'die': 2386,
 'by': 1451,
 'their': 7835,
 'hateful': 3586,
 'talks': 7723,
 'best': 1121,
 'topic': 7984,
 'students': 7520,
 'even': 2805,
 'when': 8518,
 'unaware': 8149,
 'preeti': 6092,
 'is': 4157,
 'having': 3598,
 'son': 7318,
 'he': 3602,
 'ready': 6436,
 'accept': 371,
 'baby': 921,
 'give': 3337,
 'though': 7883,
 'still': 7482,
 'after': 480,
 'thinking': 7868,
 'she': 7102,
 'has': 3578,
 'sex': 7054,
 'with': 8568,
 'guy': 3489,
 'feminists': 3002,
 'not': 5494,
 'see': 6988,
 'wrong': 8643,
 '6001733614': 239,
 'hindi': 3675,
 'old': 5598,
 'muvi': 5307,
 'rait': 6345,
 'very': 8327,
 'well': 8504,
 'said': 6815,
 'dude': 2611,
 'totally': 7995,
 'agree': 508,
 'right': 6681,
 'dushant': 2629,
 'sain': 6817,
 'exactly': 2830,
 'we': 8477,
 'comprehend': 1849,
 'director': 2421,
 'telling': 7771,
 'offer': 5578,
 'about': 344,
 'understanding': 8168,
 'making': 4882,
 'things': 7864,
 'shown': 7154,
 'heart': 3614,
 'our': 5679,
 'role': 6722,
 'model': 5178,
 'usher': 8251,
 'luck': 4821,
 'am': 578,
 'from': 3187,
 'haryana': 3575,
 'small': 7265,
 'city': 1702,
 'hisar': 3694,
 'can': 1477,
 'me': 5013,
 'your': 8699,
 'number': 5522,
 'frankly': 3167,
 'will': 8552,
 'mine': 5111,
 'as': 788,
 'friend': 3177,
 'chat': 1600,
 'on': 5603,
 'facebook': 2904,
 'arbitrator': 723,
 'kamatipura': 4350,
 'sonargachi': 7325,
 'area': 727,
 'settlements': 7048,
 'yeah': 8673,
 'man': 4898,
 'bollywood': 1278,
 'become': 1058,
 'mature': 4996,
 'real': 6437,
 'life': 4700,
 'calls': 1466,
 'uneducated': 8172,
 'person': 5868,
 'means': 5019,
 'unexpected': 8176,
 'behavior': 1083,
 'thoko': 7878,
 'sahi': 6807,
 'kaha': 4337,
 'logic': 4764,
 'level': 4667,
 'good': 3390,
 'dimaghi': 2409,
 'keeda': 4393,
 'being': 1092,
 'gay': 3270,
 'lesbian': 4651,
 'super': 7606,
 '30': 173,
 'saurabh': 6896,
 'dwivedi': 2635,
 'sir': 7219,
 'appreciate': 704,
 'maintaining': 4873,
 'neutral': 5415,
 'view': 8350,
 'point': 5988,
 'now': 5503,
 'two': 8120,
 'media': 5023,
 'modi': 5183,
 'loving': 4813,
 '2nd': 170,
 'hating': 3590,
 'why': 8543,
 'indian': 3982,
 'government': 3408,
 'take': 7714,
 'serious': 7034,
 'actions': 408,
 'those': 7882,
 'talk': 7720,
 'against': 485,
 'nation': 5356,
 'involved': 4137,
 'instigating': 4081,
 'any': 669,
 'sort': 7340,
 'violence': 8375,
 'disturbing': 2503,
 'peace': 5830,
 'freedom': 3171,
 'speech': 7381,
 'doesn': 2537,
 'allow': 560,
 'bitch': 1208,
 'arundhati': 781,
 'given': 3338,
 'such': 7564,
 'numerous': 5524,
 'occasions': 5560,
 'living': 4745,
 'freely': 3173,
 'high': 3661,
 'pass': 5791,
 'bastards': 1010,
 'matter': 4993,
 '100000000000x': 22,
 'better': 1127,
 'than': 7810,
 'chhichhore': 1627,
 'mohammad': 5190,
 'ismail': 4171,
 'xc': 8653,
 'feminism': 2999,
 'equality': 2778,
 'discrimination': 2447,
 'first': 3067,
 'learn': 4616,
 'study': 7523,
 'baahubali': 913,
 'blockbuster': 1241,
 'comment': 1804,
 'shahid': 7076,
 'ji': 4260,
 'rebal': 6457,
 'star': 7450,
 'prabhas': 6064,
 'fans': 2950,
 'full': 3208,
 'support': 7628,
 'bro': 1373,
 'literally': 4738,
 'cannot': 1481,
 'imagine': 3912,
 'scenario': 6923,
 'where': 8520,
 'content': 1928,
 'channel': 1578,
 'leave': 4622,
 'alone': 567,
 'penning': 5844,
 'down': 2570,
 'personally': 5871,
 'abhor': 339,
 'propaganda': 6188,
 'infused': 4027,
 'wing': 8555,
 'program': 6168,
 'reported': 6584,
 'multiple': 5284,
 'times': 7930,
 'interest': 4103,
 'ceases': 1527,
 'exist': 2852,
 'digital': 2397,
 'platforms': 5954,
 'confined': 1873,
 'television': 7768,
 'only': 5611,
 'nevertheless': 5417,
 'needed': 5392,
 'get': 3307,
 'certain': 1545,
 'thoughts': 7885,
 'off': 5571,
 'my': 5310,
 'chest': 1624,
 'here': 3638,
 'goes': 3376,
 'stop': 7491,
 'broadcasting': 1376,
 'staged': 7433,
 'debates': 2182,
 'resemble': 6606,
 'poorly': 6012,
 'produced': 6153,
 'grade': 3418,
 'flicks': 3089,
 'at': 828,
 'background': 925,
 'score': 6939,
 'during': 2628,
 'intro': 4123,
 'participants': 5779,
 'bickering': 1180,
 'neighborhood': 5406,
 'aunties': 862,
 'dignified': 2398,
 'panelists': 5753,
 'etc': 2791,
 'stink': 7484,
 'sub': 7534,
 'standard': 7442,
 'nonsense': 5479,
 'fooling': 3120,
 'public': 6253,
 'instead': 4077,
 'hell': 3628,
 'show': 7149,
 'how': 3785,
 'pm': 5985,
 'home': 3724,
 'minister': 5113,
 'successfully': 7562,
 'confused': 1878,
 'behaving': 1082,
 'clueless': 1761,
 'self': 6998,
 'contradicting': 1936,
 'juveniles': 4321,
 'few': 3014,
 'days': 2164,
 'left': 4633,
 '2020': 104,
 'yet': 8687,
 'overcome': 5696,
 'confines': 1874,
 'religion': 6541,
 'had': 3506,
 'hopes': 3753,
 'country': 1994,
 'started': 7455,
 'believing': 1100,
 'achieve': 398,
 'great': 3430,
 'heights': 3626,
 'field': 3024,
 'science': 6933,
 'technology': 7760,
 'put': 6286,
 'us': 8241,
 'big': 1181,
 'leagues': 4613,
 'weighed': 8496,
 'archaic': 724,
 'concept': 1854,
 'ensured': 2760,
 'progress': 6171,
 'goal': 3363,
 'far': 2955,
 'reaches': 6426,
 'note': 5495,
 'republic': 6597,
 'tv': 8110,
 'showing': 7153,
 'nationals': 5360,
 'lutyens': 4831,
 'please': 5966,
 'focus': 3105,
 'key': 4405,
 'items': 4183,
 'deterring': 2336,
 'unemployment': 8174,
 'poor': 6010,
 'economy': 2664,
 'mass': 4970,
 'does': 2536,
 'reporting': 6585,
 'do': 2527,
 'ridiculous': 6679,
 'theories': 7847,
 'concrete': 1860,
 'information': 4024,
 'news': 5421,
 'channels': 1579,
 'provide': 6224,
 'waiting': 8423,
 'honest': 3740,
 'opinion': 5627,
 'omg': 5601,
 'llovu': 4750,
 'broo': 1379,
 'thanks': 7815,
 'castigating': 1515,
 'citizens': 1700,
 'direspect': 2423,
 'donkys': 2558,
 'gave': 3268,
 'her': 3636,
 'booker': 1291,
 'prize': 6139,
 'mocking': 5176,
 'insulting': 4086,
 'wicked': 8545,
 'crafty': 2023,
 'woolf': 8599,
 'shame': 7088,
 'wampnthi': 8433,
 'chutyapnti': 1684,
 'kar': 4361,
 'rahi': 6337,
 'ho': 3708,
 'jai': 4206,
 'hnind': 3707,
 'jay': 4233,
 'jagat': 4199,
 'amazing': 584,
 'video': 8341,
 'https': 3794,
 'www': 8652,
 'youtube': 8705,
 'com': 1791,
 's6g_w2ntcvq': 6773,
 'app': 692,
 'desktop': 2303,
 'hats': 3592,
 'brother': 1383,
 'too': 7974,
 'much': 5273,
 'spoiler': 7400,
 'change': 1573,
 'title': 7944,
 'catch': 1518,
 'them': 7840,
 'fial': 3018,
 'complian': 1846,
 'agaist': 486,
 'court': 2002,
 'punish': 6268,
 'jail': 4208,
 'cant': 1482,
 'fact': 2912,
 'danderous': 2132,
 'lady': 4555,
 'helpless': 3633,
 'reluktunt': 6545,
 'way': 8471,
 'myself': 5311,
 '21st': 112,
 'century': 1543,
 'modern': 5180,
 'girl': 3328,
 'did': 2380,
 'four': 3156,
 'shots': 7142,
 'found': 3153,
 'trailer': 8019,
 'interviews': 4117,
 'cast': 1512,
 'losing': 4793,
 'agenda': 492,
 'gender': 3285,
 'becoming': 1060,
 'an': 606,
 'advocate': 468,
 'sexual': 7062,
 'request': 6600,
 'fellow': 2989,
 'girls': 3333,
 'carried': 1502,
 'away': 894,
 'ideas': 3857,
 'ranu': 6389,
 'bad': 931,
 'looks': 4783,
 'ghost': 3322,
 'conjuring': 1887,
 'world': 8608,
 'needs': 5393,
 'men': 5050,
 'correct': 1973,
 'pratik': 6079,
 'borade': 1299,
 'saw': 6909,
 'mins': 5119,
 'recommend': 6470,
 'write': 8631,
 'own': 5709,
 'dictionary': 2379,
 'sorry': 7339,
 'following': 3113,
 'dictionaries': 2378,
 'cambridge': 1468,
 'merriam': 5068,
 'webster': 8489,
 'premise': 6101,
 'dream': 2582,
 'realism': 6442,
 'form': 3146,
 'escapism': 2785,
 'salute': 6834,
 'song': 7326,
 'awesome': 896,
 'youtu': 8704,
 '4ax1099ml': 220,
 'nice': 5434,
 'bor': 1298,
 'epic': 2774,
 'head': 3603,
 'ache': 394,
 'also': 573,
 'post': 6041,
 'simply': 7200,
 'hated': 3585,
 'completely': 1843,
 'disagreed': 2431,
 'indigestible': 3990,
 'plot': 5972,
 'were': 8508,
 'dislike': 2461,
 'whereas': 8521,
 'shocked': 7129,
 'there': 7850,
 'liked': 4710,
 'except': 2840,
 'songs': 7327,
 'job': 4273,
 'plz': 5980,
 'weren': 8509,
 'liberal': 4678,
 'yourself': 8701,
 'amir': 595,
 'khan': 4415,
 'film': 3039,
 'sahid': 6808,
 'kapoor': 4359,
 'fool': 3118,
 'women': 8588,
 'fighting': 3029,
 'mentally': 5060,
 'ill': 3888,
 'barking': 992,
 'street': 7505,
 'dog': 2539,
 'whose': 8540,
 'intentions': 4100,
 'pull': 6261,
 'attention': 847,
 'alive': 555,
 'ram': 6363,
 'raja': 6347,
 'female': 2991,
 'husband': 3822,
 'married': 4949,
 'separated': 7029,
 'twice': 8113,
 'because': 1056,
 'likes': 4713,
 'sleep': 7256,
 'around': 752,
 'manjee': 4922,
 'chakshu': 1561,
 'nd': 5383,
 'akhil': 534,
 'fab': 2900,
 'ur': 8233,
 'points': 5991,
 'haters': 3588,
 'must': 5299,
 'girts': 3334,
 'counter': 1989,
 'shut': 7166,
 'fuckin': 3203,
 'mouths': 5252,
 'vomiting': 8405,
 'diarrhoea': 2372,
 'forcing': 3132,
 'jealous': 4238,
 'mondal': 5209,
 'education': 2672,
 'bt': 1394,
 'fr': 3161,
 'talent': 7718,
 'never': 5416,
 'interfare': 4106,
 'personal': 5869,
 'issues': 4178,
 'love': 4806,
 'devine': 2353,
 'voice': 8399,
 'dats': 2154,
 'hi': 3650,
 'hope': 3749,
 'call': 1462,
 'coincidence': 1779,
 'anything': 674,
 'came': 1469,
 'across': 403,
 'designer': 2301,
 'page': 5730,
 'criticising': 2063,
 'misogyny': 5146,
 'speaking': 7372,
 'seen': 6992,
 'arjun': 740,
 'reddy': 6479,
 'unable': 8145,
 'find': 3054,
 'single': 7214,
 'trace': 8012,
 'anywhere': 678,
 'out': 5680,
 'tharkis': 7826,
 'anyway': 676,
 'veere': 8310,
 'di': 2368,
 'wedding': 8490,
 'neglect': 5399,
 'let': 4662,
 'whine': 8528,
 'babies': 919,
 'loved': 4807,
 'couple': 1997,
 'deepthi': 2215,
 'priti': 6133,
 'top': 7982,
 'class': 1724,
 'work': 8602,
 'dil': 2403,
 'se': 6961,
 'jud': 4292,
 'gayi': 3272,
 'shadaa': 7071,
 'diljit': 2405,
 'dosanjh': 2562,
 'col': 1780,
 'talking': 7722,
 'sense': 7014,
 'word': 8600,
 'bhaad': 1137,
 'jaa': 4192,
 'chudail': 1667,
 'wow': 8623,
 'analysis': 609,
 'superb': 7608,
 'exists': 2854,
 'critics': 2068,
 'fk': 3076,
 'paid': 5731,
 'pseudo': 6238,
 'femmies': 3009,
 'commies': 1810,
 'mensutra': 5055,
 'leader': 4608,
 'youth': 8702,
 'thnx': 7875,
 'contribution': 1942,
 'society': 7291,
 'biggest': 1184,
 'bowls': 1323,
 'bd': 1038,
 'hlooo': 3703,
 'babu': 920,
 'lal': 4566,
 'morning': 5231,
 'fan': 2946,
 'meetup': 5035,
 'meet': 5033,
 'many': 4933,
 'community': 1826,
 'centres': 1540,
 'near': 5386,
 'saket': 6825,
 'book': 1289,
 'same': 6842,
 'looking': 4782,
 'camera': 1470,
 'which': 8526,
 'finally': 3052,
 'legally': 4642,
 'indians': 3984,
 'per': 5849,
 'kung': 4523,
 'fu': 3195,
 'kutiya': 4533,
 'practicing': 6070,
 'balancing': 958,
 'tooth': 7981,
 'brushes': 1390,
 'nipples': 5458,
 'god': 3369,
 'worth': 8616,
 'kavita': 4388,
 'krishnan': 4500,
 'shehla': 7106,
 'rashid': 6403,
 'rent': 6568,
 'apartments': 684,
 'hira': 3686,
 'mandi': 4908,
 'ayushmann': 908,
 'khurana': 4433,
 'nawazuddin': 5369,
 'siddique': 7176,
 'rajkumar': 6357,
 'rao': 6393,
 'actors': 416,
 '8617618488': 279,
 'ya': 8660,
 'won': 8592,
 'going': 3381,
 'into': 4119,
 'approach': 707,
 'entirely': 2771,
 'sarcasm': 6870,
 'à°¤à°®': 8793,
 'à°ªà°°': 8795,
 'à°—à°®': 8791,
 'à°¡à°µ': 8792,
 'à°‡à°µ': 8790,
 'à°µà°²': 8796,
 'à°¦à°¨': 8794,
 'actor': 415,
 'encourage': 2731,
 'negative': 5395,
 'positive': 6033,
 'greatest': 3431,
 'friends': 3179,
 'supporting': 7632,
 'member': 5044,
 'association': 820,
 'eagerly': 2643,
 'shad': 7070,
 'saaho': 6776,
 'most': 5235,
 'youtubers': 8707,
 'platform': 5953,
 'hutiyas': 3826,
 'side': 7177,
 'swetabh': 7684,
 'amezing': 593,
 'fake': 2926,
 'details': 2328,
 'end': 2735,
 'vote': 8407,
 'nor': 5486,
 'open': 5621,
 'bank': 975,
 'account': 386,
 'apply': 700,
 'social': 7289,
 'benefits': 1110,
 'à¦®à¦°': 8786,
 'moto': 5249,
 'chele': 1618,
 'rakom': 6362,
 'ma': 4840,
 'der': 2284,
 'chere': 1622,
 'dei': 2235,
 'tar': 7732,
 'pare': 5763,
 'ninda': 5456,
 'kare': 4364,
 'heat': 3616,
 'msg': 5270,
 'protective': 6212,
 'comes': 1797,
 'girlfriend': 3330,
 'lgbt': 4671,
 'rocks': 6714,
 'iam': 3846,
 'medical': 5025,
 'student': 7519,
 'atleast': 832,
 'hrs': 3792,
 'subjects': 7544,
 'sake': 6824,
 'patients': 5807,
 'sacrifice': 6793,
 'drug': 2599,
 'adict': 437,
 'dinner': 2413,
 'billionaire': 1192,
 'mental': 5058,
 'congress': 1886,
 'leftist': 4636,
 'intellectuals': 4093,
 'hindustan': 3680,
 'jock': 4276,
 'group': 3446,
 'behind': 1087,
 'bar': 984,
 'eliminated': 2703,
 '2023': 106,
 'wait': 8421,
 'govt': 3410,
 'spare': 7365,
 '2019': 103,
 'overrated': 5703,
 'hit': 3696,
 'sayan': 6911,
 'bose': 1310,
 'watched': 8464,
 '3idiots': 194,
 'queen': 6300,
 'parmanu': 5772,
 'bajrangi': 953,
 'bhaijaan': 1146,
 'sultan': 7593,
 'dangal': 2133,
 'padman': 5724,
 'try': 8086,
 'remove': 6562,
 'negativity': 5398,
 'studied': 7521,
 'specially': 7378,
 'army': 745,
 'security': 6983,
 'al9': 539,
 'alicia': 551,
 'beat': 1047,
 'afganistan': 476,
 'cup': 2099,
 'extremely': 2894,
 'sad': 6795,
 'tragic': 8018,
 'hat': 3583,
 'sucharita': 7566,
 'tyagi': 8121,
 'critic': 2059,
 '14': 42,
 '27': 165,
 'j2j5sssp5yq': 4190,
 '14m27s': 45,
 'father': 2964,
 '12th': 34,
 'homosexuality': 3737,
 'ban': 961,
 'liberals': 4680,
 'themselves': 7844,
 'intolerant': 4120,
 'done': 2557,
 'sweet': 7683,
 'tube': 8092,
 'naughty': 5366,
 'hiii': 3667,
 'murder': 5289,
 'bbc': 1028,
 'marathi': 4937,
 '49022841': 217,
 'feminist': 3000,
 'yesterday': 8685,
 'amazon': 586,
 'pause': 5820,
 'whenever': 8519,
 'character': 1586,
 'speak': 7369,
 'bcoz': 1034,
 'subtitles': 7557,
 'fast': 2960,
 'didnt': 2385,
 'secondly': 6972,
 'ka': 4324,
 'womzaniser': 8591,
 'addict': 426,
 'alcoholic': 547,
 'abusive': 364,
 'thirdly': 7871,
 'saying': 6914,
 'thia': 7857,
 'particular': 5782,
 'clothing': 1755,
 'plus': 5979,
 'hostel': 3768,
 'isn': 4173,
 'creepy': 2045,
 'srk': 7428,
 'chasing': 1598,
 'kajol': 4343,
 'ddlj': 2166,
 'fourth': 3157,
 'repeated': 6571,
 'pleas': 5965,
 'parents': 5766,
 'drinks': 2589,
 'smokes': 7275,
 'light': 4705,
 'courtroom': 2003,
 'scene': 6924,
 'proud': 6219,
 'say': 6910,
 'while': 8527,
 'none': 5478,
 'died': 2387,
 'slapped': 7248,
 'wasnt': 8454,
 'expected': 2859,
 'regressive': 6512,
 'spoilt': 7403,
 'unapoligetoc': 8146,
 'obnoxious': 5549,
 'inspite': 4070,
 'could': 1984,
 'effort': 2681,
 'makers': 4880,
 'teacher': 7750,
 'spineless': 7391,
 'jellyfish': 4243,
 'alright': 572,
 'bjp': 1215,
 'crazy': 2030,
 'react': 6428,
 'foolish': 3121,
 'ignorant': 3878,
 'shout': 7147,
 'over': 5692,
 'each': 2642,
 'another': 650,
 'curse': 2106,
 'humanity': 3807,
 'hate': 3584,
 'faminisim': 2941,
 'meaning': 5016,
 'woman': 8582,
 'libtard': 4693,
 'reviews': 6660,
 'terrible': 7789,
 'outrightly': 5687,
 ...}

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,y_train['Sub-task A'])

MultinomialNB()

In [ ]:
X_test_count = v.transform(X_test.Text)
X_test_count.shape

(1066, 8800)

In [ ]:
df = pd.DataFrame(X_test_count)

In [ ]:
df.head()

                                                   0
0    (0, 2296)\t1\n  (0, 3430)\t1\n  (0, 5227)\t1...
1                       (0, 5434)\t1\n  (0, 8341)\t1
2    (0, 363)\t1\n  (0, 561)\t1\n  (0, 622)\t2\n ...
3    (0, 584)\t1\n  (0, 1442)\t1\n  (0, 4180)\t1\...
4                                       (0, 5434)\t1

In [ ]:
df.shape

(1066, 1)

In [ ]:
X_test_count.toarray()[0:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
model.score(X_test_count,y_test['Sub-task A'])

0.797373358348968

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
clf = Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [ ]:
clf.fit(X_train.Text,y_train['Sub-task A'])

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [ ]:
clf.score(X_test.Text,y_test)

0.797373358348968