<a href="https://colab.research.google.com/github/iamX55/Natural-Language-processing/blob/main/misogyny_detection_using_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
X_train = pd.read_csv("trac_train.csv")
X_test = pd.read_csv("trac_test.csv")
y_test= pd.read_csv("trac_test.csv")
y_train= pd.read_csv("trac_train.csv")
X_train.groupby('Sub-task B').describe()

              ID                       Text         \
           count unique      top freq count unique
Sub-task B
GEN          309    309  C38.482    1   309    309
NGEN        3954   3954  C45.451    1  3954   3954

                                                                   Sub-task A  \
                                                          top freq      count
Sub-task B
GEN         its not good i think its all dimaghi keeda bei...    1        309
NGEN                                                Next part    1       3954


           unique  top  freq
Sub-task B
GEN             3  OAG   140
NGEN            3  NAG  3241

In [ ]:
X_train.head()

,ID,Text,Sub-task A,Sub-task B
0,C45.451,Next part,NAG,NGEN
1,C47.11,Iii8mllllllm\nMdxfvb8o90lplppi0005,NAG,NGEN
2,C33.79,ðŸ¤£ðŸ¤£ðŸ˜‚ðŸ˜‚ðŸ¤£ðŸ¤£ðŸ¤£ðŸ˜‚osm vedio ....keep it up...make more v...,NAG,NGEN
3,C4.1961,What the fuck was this? I respect shwetabh and...,NAG,NGEN
4,C10.153,Concerned authorities should bring arundathi R...,NAG,NGEN

In [ ]:
X_test.head()

,ID,Text,Sub-task A,Sub-task B
0,C7.2589,U deserve more subscribers. U really great.,NAG,NGEN
1,C68.872,Nice video....,NAG,NGEN
2,C36.762,sorry if i bother somebody.. iam a defence asp...,NAG,GEN
3,C4.1540.1,Joker was amazing....it was not glamorised !.....,NAG,NGEN
4,C59.68,Nice baro,NAG,NGEN

In [ ]:
X_train.drop(X_train.columns[[0,2,3]],axis=1,inplace=True);
X_train.head()

                                                Text
0                                          Next part
1                 Iii8mllllllm\nMdxfvb8o90lplppi0005
2  ðŸ¤£ðŸ¤£ðŸ˜‚ðŸ˜‚ðŸ¤£ðŸ¤£ðŸ¤£ðŸ˜‚osm vedio ....keep it up...make more v...
3  What the fuck was this? I respect shwetabh and...
4  Concerned authorities should bring arundathi R...

In [ ]:
X_test.drop(X_test.columns[[0,2,3]],axis=1,inplace=True);
X_test.head()

                                                Text
0        U deserve more subscribers. U really great.
1                                     Nice video....
2  sorry if i bother somebody.. iam a defence asp...
3  Joker was amazing....it was not glamorised !.....
4                                          Nice baro

In [ ]:
y_train.drop(y_train.columns[[0,1,2,]],axis=1,inplace=True);
y_train.head()

  Sub-task B
0       NGEN
1       NGEN
2       NGEN
3       NGEN
4       NGEN

In [ ]:
y_test.drop(y_test.columns[[0,1,2]],axis=1,inplace=True);
y_test.head()

  Sub-task B
0       NGEN
1       NGEN
2        GEN
3       NGEN
4       NGEN

In [ ]:
y_train['task']=y_train["Sub-task B"].apply(lambda x : 1 if(x=='GEN') else 0)
y_train.head()

  Sub-task B  task
0       NGEN     0
1       NGEN     0
2       NGEN     0
3       NGEN     0
4       NGEN     0

In [ ]:
y_test['task']=y_test["Sub-task B"].apply(lambda x : 1 if(x=='GEN') else 0)
y_test.head()

  Sub-task B  task
0       NGEN     0
1       NGEN     0
2        GEN     1
3       NGEN     0
4       NGEN     0

In [ ]:
y_train.drop(['Sub-task B'],axis=1,inplace=True)
y_train.head()

   task
0     0
1     0
2     0
3     0
4     0

In [ ]:
y_test.drop(['Sub-task B'],axis=1,inplace=True)
y_test.head()

   task
0     0
1     0
2     1
3     0
4     0

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer(min_df=0, lowercase=False)
X_train_count = v.fit_transform(X_train.Text)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
v.vocabulary_

{'Next': 2257,
 'part': 8106,
 'Iii8mllllllm': 1612,
 'Mdxfvb8o90lplppi0005': 2088,
 'osm': 8024,
 'vedio': 10239,
 'keep': 6977,
 'it': 6838,
 'up': 10163,
 'make': 7383,
 'more': 7664,
 'vedios': 10240,
 'like': 7235,
 'this': 9872,
 'What': 3386,
 'the': 9834,
 'fuck': 6009,
 'was': 10359,
 'respect': 8843,
 'shwetabh': 9275,
 'and': 3737,
 'have': 6326,
 'been': 4098,
 'watching': 10372,
 'his': 6407,
 'videos': 10273,
 'for': 5941,
 'quite': 8585,
 'long': 7294,
 'time': 9919,
 'but': 4420,
 'review': 8881,
 'shit': 9236,
 'Nobody': 2283,
 'wants': 10351,
 'to': 9934,
 'watch': 10370,
 'movie': 7694,
 'reality': 8680,
 'or': 7999,
 'blah': 4223,
 'You': 3458,
 'dont': 5432,
 'movies': 7696,
 'inspiration': 6736,
 'you': 10568,
 'would': 10512,
 'rather': 8648,
 'read': 8669,
 'books': 4289,
 'biographies': 4198,
 'Yes': 3454,
 'its': 6842,
 'true': 10043,
 'that': 9832,
 'some': 9394,
 'people': 8169,
 'are': 3823,
 'getting': 6105,
 'influenced': 6701,
 'doing': 5416,
 'all': 3684,
 'shitty': 9239,
 'fuckery': 6014,
 'just': 6926,
 'think': 9867,
 'Anyone': 493,
 'who': 10434,
 'takes': 9736,
 'seriouslyis': 9170,
 'already': 3695,
 'chutiya': 4622,
 'And': 473,
 'go': 6146,
 'theatre': 9837,
 'in': 6634,
 'india': 6665,
 'if': 6569,
 'really': 8684,
 'seek': 9129,
 'logical': 7284,
 'scripts': 9098,
 'characters': 4557,
 'without': 10466,
 'plotholes': 8280,
 'then': 9849,
 'wouldnt': 10514,
 'be': 4071,
 'kabir': 6940,
 'singh': 9311,
 'So': 2952,
 'made': 7362,
 'views': 10282,
 'cause': 4499,
 'theres': 9856,
 'no': 7849,
 'need': 7797,
 'so': 9372,
 'called': 4440,
 'raw': 8655,
 'one': 7966,
 'thing': 9865,
 'acted': 3563,
 'forgot': 5960,
 'name': 7751,
 'seriously': 9169,
 'know': 7040,
 'whole': 10436,
 'story': 9556,
 'pronounced': 8470,
 'overhyped': 8048,
 'mess': 7534,
 'wrongly': 10534,
 'Oh': 2329,
 'common': 4752,
 'Concerned': 920,
 'authorities': 3934,
 'should': 9257,
 'bring': 4356,
 'arundathi': 3860,
 'Roy': 2686,
 'other': 8026,
 'these': 9857,
 'type': 10082,
 'of': 7933,
 'before': 4101,
 'law': 7138,
 'land': 7113,
 'giving': 6128,
 'anti': 3763,
 'national': 7768,
 'statements': 9527,
 'It': 1666,
 'seems': 9130,
 'want': 10348,
 'famous': 5785,
 'nothing': 7873,
 'they': 9859,
 'don': 5427,
 'care': 4471,
 'die': 5272,
 'by': 4428,
 'their': 9839,
 'hateful': 6318,
 'talks': 9743,
 'Best': 684,
 'topic': 9963,
 'Law': 1918,
 'Students': 3004,
 'Even': 1149,
 'when': 10419,
 'unaware': 10101,
 'Preeti': 2497,
 'is': 6821,
 'having': 6329,
 'son': 9403,
 'he': 6331,
 'ready': 8672,
 'accept': 3533,
 'baby': 3972,
 'give': 6125,
 'though': 9881,
 'still': 9546,
 'preeti': 8384,
 'even': 5653,
 'after': 3627,
 'thinking': 9869,
 'she': 9222,
 'has': 6313,
 'sex': 9186,
 'with': 10464,
 'guy': 6243,
 'feminists': 5834,
 'not': 7870,
 'see': 9127,
 'She': 2889,
 'wrong': 10532,
 '6001733614': 243,
 'Hindi': 1506,
 'old': 7960,
 'muvi': 7733,
 'rait': 8610,
 'Very': 3298,
 'well': 10406,
 'said': 9004,
 'dude': 5480,
 'totally': 9973,
 'agree': 3652,
 'right': 8905,
 'Dushant': 1093,
 'Sain': 2795,
 'EXACTLY': 1115,
 'we': 10382,
 'comprehend': 4781,
 'what': 10415,
 'director': 5305,
 'telling': 9785,
 'offer': 7942,
 'about': 3509,
 'understanding': 10117,
 'Movie': 2157,
 'Making': 2045,
 'things': 9866,
 'shown': 9267,
 'heart': 6343,
 'Our': 2359,
 'Role': 2680,
 'Model': 2131,
 'Shwetabh': 2917,
 'Kabir': 1772,
 'usher': 10192,
 'luck': 7333,
 'am': 3701,
 'from': 6000,
 'haryana': 6312,
 'small': 9355,
 'city': 4647,
 'hisar': 6409,
 'can': 4453,
 'me': 7485,
 'your': 10575,
 'number': 7893,
 'frankly': 5981,
 'will': 10450,
 'mine': 7568,
 'as': 3867,
 'friend': 5990,
 'If': 1609,
 'chat': 4569,
 'on': 7964,
 'facebook': 5747,
 'best': 4145,
 'arbitrator': 3820,
 'kamatipura': 6952,
 'sonargachi': 9405,
 'area': 3824,
 'settlements': 9180,
 'Yeah': 3450,
 'man': 7397,
 'Fuck': 1269,
 'Bollywood': 735,
 'become': 4088,
 'mature': 7474,
 'real': 8673,
 'life': 7228,
 'Calls': 837,
 'Uneducated': 3251,
 'Person': 2443,
 'means': 7491,
 'Unexpected': 3253,
 'Behavior': 671,
 'Thoko': 3151,
 'Sahi': 2788,
 'kaha': 6944,
 'Logic': 1955,
 'level': 7199,
 'good': 6165,
 'dimaghi': 5294,
 'keeda': 6976,
 'being': 4121,
 'gay': 6071,
 'lesbian': 7185,
 'super': 9652,
 '30': 176,
 'Saurabh': 2825,
 'Dwivedi': 1095,
 'sir': 9318,
 'appreciate': 3805,
 'maintaining': 7379,
 'neutral': 7818,
 'view': 10276,
 'point': 8292,
 'As': 537,
 'now': 7879,
 'two': 10079,
 'media': 7495,
 'modi': 7630,
 'loving': 7326,
 '2nd': 174,
 'hating': 6322,
 'But': 784,
 'Why': 3401,
 'Indian': 1628,
 'government': 6176,
 'take': 9734,
 'serious': 9168,
 'actions': 3566,
 'those': 9880,
 'talk': 9740,
 'against': 3631,
 'nation': 7767,
 'anyone': 3776,
 'involved': 6805,
 'instigating': 6751,
 'any': 3773,
 'sort': 9415,
 'violence': 10297,
 'disturbing': 5381,
 'peace': 8154,
 'Freedom': 1263,
 'speech': 9453,
 'doesn': 5411,
 'allow': 3687,
 'This': 3149,
 'bitch': 4210,
 'Arundhati': 531,
 'given': 6126,
 'such': 9619,
 'numerous': 7895,
 'occasions': 7927,
 'living': 7269,
 'freely': 5987,
 'high': 6381,
 'pass': 8121,
 'bastards': 4047,
 'matter': 7472,
 'Exactly': 1158,
 'That': 3132,
 '100000000000x': 22,
 'better': 4150,
 'than': 9821,
 'Chhichhore': 870,
 'mohammad': 7633,
 'ismail': 6829,
 'xc': 10540,
 'feminism': 5831,
 'equality': 5630,
 'discrimination': 5330,
 'first': 5891,
 'learn': 7155,
 'study': 9584,
 'Like': 1944,
 'Baahubali': 622,
 'blockbuster': 4243,
 'No': 2282,
 'Comment': 909,
 'shahid': 9202,
 'ji': 6885,
 'From': 1267,
 'Rebal': 2640,
 'star': 9514,
 'prabhas': 8363,
 'Fans': 1205,
 'Full': 1273,
 'support': 9667,
 'bro': 4361,
 'Keep': 1806,
 'literally': 7263,
 'cannot': 4457,
 'imagine': 6600,
 'scenario': 9072,
 'where': 10421,
 'content': 4854,
 'channel': 4547,
 'leave': 7161,
 'alone': 3692,
 'penning': 8166,
 'down': 5442,
 'comment': 4738,
 'personally': 8192,
 'abhor': 3505,
 'propaganda': 8473,
 'infused': 6706,
 'wing': 10453,
 'program': 8454,
 'reported': 8812,
 'multiple': 7711,
 'times': 9920,
 'interest': 6772,
 'ceases': 4503,
 'exist': 5697,
 'digital': 5283,
 'platforms': 8263,
 'confined': 4802,
 'television': 9782,
 'only': 7972,
 'Nevertheless': 2254,
 'needed': 7798,
 'get': 6102,
 'certain': 4521,
 'thoughts': 9883,
 'off': 7935,
 'my': 7735,
 'chest': 4586,
 'here': 6364,
 'goes': 6155,
 'Stop': 2995,
 'broadcasting': 4364,
 'staged': 9497,
 'debates': 5087,
 'resemble': 8834,
 'poorly': 8315,
 'produced': 8440,
 'grade': 6185,
 'flicks': 5909,
 'at': 3898,
 'The': 3134,
 'background': 3976,
 'score': 9087,
 'during': 5495,
 'intro': 6791,
 'participants': 8110,
 'bickering': 4187,
 'neighborhood': 7811,
 'aunties': 3927,
 'dignified': 5284,
 'panelists': 8091,
 'etc': 5641,
 'stink': 9548,
 'sub': 9594,
 'standard': 9506,
 'nonsense': 7857,
 'fooling': 5937,
 'public': 8532,
 'Instead': 1644,
 'why': 10443,
 'hell': 6355,
 'show': 9262,
 'how': 6486,
 'PM': 2383,
 'Home': 1528,
 'Minister': 2118,
 'successfully': 9617,
 'confused': 4807,
 'behaving': 4112,
 'clueless': 4701,
 'self': 9136,
 'contradicting': 4862,
 'juveniles': 6934,
 'With': 3407,
 'few': 5844,
 'days': 5071,
 'left': 7171,
 '2020': 104,
 'our': 8030,
 'yet': 10566,
 'overcome': 8045,
 'confines': 4803,
 'religion': 8771,
 'had': 6260,
 'hopes': 6458,
 'country': 4918,
 'started': 9519,
 'believing': 4129,
 'achieve': 3557,
 'great': 6197,
 'heights': 6353,
 'field': 5851,
 'Science': 2841,
 'Technology': 3110,
 'put': 8564,
 'us': 10183,
 'big': 4188,
 'leagues': 7152,
 'weighed': 10399,
 'archaic': 3821,
 'concept': 4785,
 'ensured': 5612,
 'progress': 8457,
 'goal': 6147,
 'far': 5794,
 'reaches': 8662,
 'note': 7871,
 'Republic': 2654,
 'TV': 3090,
 'showing': 9266,
 'nationals': 7771,
 'lutyens': 7343,
 'please': 8274,
 'focus': 5923,
 'key': 6985,
 'items': 6841,
 'deterring': 5231,
 'unemployment': 10123,
 'poor': 8313,
 'economy': 5525,
 'mass': 7454,
 'does': 5410,
 'reporting': 8813,
 'do': 5402,
 'ridiculous': 8903,
 'theories': 9851,
 'They': 3140,
 'concrete': 4790,
 'information': 6703,
 'news': 7823,
 'channels': 4548,
 'provide': 8506,
 'waiting': 10333,
 'honest': 6448,
 'opinion': 7983,
 'OMG': 2310,
 'Llovu': 1950,
 'Right': 2662,
 'broo': 4367,
 'thanks': 9824,
 'castigating': 4491,
 'citizens': 4645,
 'direspect': 5307,
 'donkys': 5431,
 'gave': 6069,
 'her': 6363,
 'Booker': 738,
 'prize': 8426,
 'mocking': 7625,
 'insulting': 6756,
 'wicked': 10444,
 'crafty': 4942,
 'woolf': 10492,
 'shame': 9211,
 'wampnthi': 10343,
 'chutyapnti': 4631,
 'kar': 6957,
 'rahi': 8604,
 'ho': 6420,
 'jai': 6853,
 'hnind': 6419,
 'jay': 6869,
 'jagat': 6850,
 'Watch': 3372,
 'amazing': 3706,
 'video': 10271,
 'https': 6492,
 'www': 10538,
 'youtube': 10581,
 'com': 4725,
 'S6g_W2nTcvQ': 2695,
 'app': 3793,
 'desktop': 5198,
 'hats': 6324,
 'brother': 4369,
 'Too': 3188,
 'much': 7706,
 'spoiler': 9470,
 'Change': 856,
 'Title': 3179,
 'catch': 4494,
 'them': 9844,
 'yes': 10562,
 'fial': 5846,
 'complian': 4778,
 'agaist': 3632,
 'court': 4926,
 'punish': 8546,
 'jail': 6854,
 'cant': 4458,
 'fact': 5754,
 'danderous': 5045,
 'lady': 7100,
 'helpless': 6360,
 'reluktunt': 8774,
 'By': 787,
 'way': 10377,
 'myself': 7736,
 '21st': 112,
 'century': 4519,
 'modern': 7628,
 'girl': 6118,
 'did': 5266,
 'four': 5972,
 'shots': 9255,
 'found': 5969,
 'trailer': 9994,
 'interviews': 6785,
 'cast': 4488,
 'very': 10259,
 'Feminism': 1222,
 'losing': 7309,
 'agenda': 3638,
 'gender': 6082,
 'becoming': 4090,
 'an': 3723,
 'advocate': 3618,
 'sexual': 9193,
 'freedom': 5985,
 'request': 8828,
 'fellow': 5822,
 'girls': 6122,
 'carried': 4478,
 'away': 3953,
 'ideas': 6550,
 'Ranu': 2617,
 'bad': 3981,
 'Looks': 1963,
 'ghost': 6113,
 'conjuring': 4815,
 'world': 10501,
 'needs': 7799,
 'men': 7516,
 'Correct': 935,
 'Pratik': 2492,
 'Borade': 742,
 'saw': 9062,
 'mins': 7575,
 'recommend': 8704,
 'write': 10521,
 'own': 8055,
 'dictionary': 5265,
 'Sorry': 2971,
 'following': 5930,
 'dictionaries': 5264,
 'Cambridge': 838,
 'merriam': 7532,
 'webster': 10393,
 'premise': 8393,
 'dream': 5452,
 'realism': 8678,
 'form': 5962,
 'escapism': 5636,
 'Salute': 2800,
 'song': 9406,
 'Awesome': 566,
 'youtu': 10580,
 '4Ax1099ML': 224,
 'nice': 7831,
 'Bor': 741,
 'Epic': 1142,
 'head': 6332,
 'ache': 3554,
 'also': 3697,
 'post': 8342,
 'simply': 9303,
 'hated': 6317,
 'completely': 4775,
 'disagreed': 5315,
 'indigestible': 6673,
 'plot': 8279,
 'were': 10410,
 'dislike': 5343,
 'whereas': 10422,
 'shocked': 9243,
 'there': 9854,
 'liked': 7238,
 'except': 5686,
 'songs': 9407,
 'Super': 3028,
 'Good': 1372,
 'job': 6894,
 'plz': 8285,
 'Weren': 3384,
 'liberal': 7207,
 'yourself': 10577,
 'amir': 3713,
 'khan': 6991,
 'film': 5865,
 'sahid': 9000,
 'Kapoor': 1789,
 'fool': 5935,
 'women': 10483,
 'fighting': 5855,
 'mentally': 7525,
 'ill': 6578,
 'Lady': 1906,
 'barking': 4030,
 'Street': 3002,
 'dog': 5413,
 'whose': 10441,
 'intentions': 6769,
 'pull': 8540,
 'attention': 3914,
 'alive': 3683,
 'Ram': 2603,
 'Raja': 2591,
 'female': 5824,
 'husband': 6519,
 'married': 7437,
 'separated': 9163,
 'twice': 10073,
 'because': 4086,
 'likes': 7240,
 'sleep': 9347,
 'around': 3843,
 'Manjee': 2059,
 'Chakshu': 850,
 'Nd': 2245,
 'Akhil': 438,
 'fab': 5743,
 'Totally': 3193,
 'ur': 10175,
 'points': 8295,
 'nd': 7789,
 'haters': 6320,
 'must': 7726,
 'girts': 6123,
 'counter': 4913,
 'shut': 9274,
 'fuckin': 6015,
 'mouths': 7687,
 'vomiting': 10321,
 'diarrhoea': 5260,
 'forcing': 5948,
 'All': 447,
 'jealous': 6871,
 'Mondal': 2145,
 'education': 5531,
 'bt': 4379,
 'fr': 5976,
 'talent': 9738,
 'never': 7819,
 'interfare': 6775,
 'personal': 8190,
 'issues': 6836,
 'love': 7320,
 'devine': 5245,
 'voice': 10317,
 'dats': 5062,
 'hi': 6373,
 'pratik': 8374,
 'hope': 6454,
 'Call': 835,
 'coincidence': 4714,
 'anything': 3778,
 'came': 4445,
 'across': 3561,
 'designer': 5196,
 'page': 8072,
 'criticising': 4980,
 'Singh': 2930,
 'MISOGYNY': 2013,
 'Frankly': 1262,
 'speaking': 9444,
 'seen': 9131,
 'Arjun': 508,
 'Reddy': 2644,
 'unable': 10097,
 'find': 5879,
 'single': 9314,
 'trace': 9987,
 'misogyny': 7601,
 'anywhere': 3781,
 'concerned': 4789,
 'call': 4439,
 'out': 8031,
 'tharkis': 9830,
 'anyway': 3780,
 'Veere': 3295,
 'Di': 1036,
 'Wedding': 3377,
 'More': 2152,
 'neglect': 7805,
 'let': 7195,
 'whine': 10429,
 'babies': 3971,
 'Loved': 1971,
 'couple': 4921,
 'Deepthi': 1016,
 'Priti': 2502,
 'top': 9961,
 'class': 4666,
 'work': 10495,
 'Dil': 1045,
 'se': 9103,
 'jud': 6909,
 'gayi': 6073,
 'Shadaa': 2876,
 'Diljit': 1046,
 'Dosanjh': 1076,
 'Review': 2657,
 'Please': 2465,
 'col': 4715,
 'talking': 9742,
 'sense': 9151,
 'One': 2338,
 'word': 10493,
 'bhaad': 4159,
 'jaa': 6845,
 'chudail': 4616,
 'Wow': 3423,
 'analysis': 3726,
 'superb': 9654,
 'exists': 5699,
 'bollywood': 4277,
 'critics': 4985,
 'fk': 5898,
 'paid': 8073,
 'pseudo': 8517,
 'femmies': 5839,
 'commies': 4744,
 'Mensutra': 2101,
 'leader': 7147,
 'youth': 10578,
 'Thnx': 3150,
 'contribution': 4868,
 'Society': 2953,
 'biggest': 4190,
 'bowls': 4318,
 'Love': 1970,
 'bd': 4070,
 'hlooo': 6415,
 'Babu': 624,
 'Lal': 1909,
 'morning': 7668,
 'fan': 5786,
 'meetup': 7505,
 'We': 3375,
 'meet': 7503,
 'person': 8189,
 'There': 3138,
 'many': 7423,
 'community': 4758,
 'centres': 4516,
 'near': 7792,
 'Saket': 2797,
 'book': 4287,
 'same': 9022,
 'awesome': 3955,
 'looking': 7298,
 'camera': 4446,
 'which': 10427,
 'Finally': 1238,
 'legally': 7179,
 'indians': 6668,
 'Really': 2637,
 'per': 8171,
 'Kung': 1853,
 'Fu': 1268,
 'Kutiya': 1858,
 'practicing': 8368,
 'balancing': 4004,
 'tooth': 9960,
 'brushes': 4375,
 'nipples': 7844,
 'god': 6151,
 'worth': 10509,
 'Kavita': 1802,
 'Krishnan': 1843,
 'Shehla': 2890,
 'Rashid': 2623,
 'rent': 8797,
 'apartments': 3785,
 'Hira': 1513,
 'Mandi': 2054,
 'Ayushmann': 573,
 'khurana': 7004,
 'nawazuddin': 7777,
 'siddique': 9282,
 'rajkumar': 8616,
 'Rao': 2620,
 'actors': 3574,
 '8617618488': 283,
 'Ya': 3443,
 'won': 10486,
 'going': 6158,
 'into': 6787,
 'approach': 3808,
 'entirely': 5623,
 'sarcasm': 9039,
 'à°¤à°®': 10656,
 'à°ªà°°': 10658,
 'à°—à°®': 10654,
 'à°¡à°µ': 10655,
 'à°‡à°µ': 10653,
 'à°µà°²': 10659,
 'à°¦à°¨': 10657,
 'Shahid': 2880,
 'actor': 3573,
 'encourage': 5585,
 'Don': 1073,
 'negative': 7801,
 'positive': 8334,
 'Prabhas': 2485,
 'greatest': 6198,
 'friends': 5992,
 'supporting': 9671,
 'member': 7511,
 'fans': 5790,
 'association': 3891,
 'Eagerly': 1118,
 'For': 1256,
 'shad': 9199,
 'oF': 7904,
 'saaho': 8974,
 'Just': 1734,
 'most': 7672,
 'youtubers': 10583,
 'platform': 8262,
 'Respect': 2655,
 'hutiyas': 6523,
 'side': 9283,
 'swetabh': 9710,
 'amezing': 3712,
 'Give': 1359,
 'fake': 5766,
 'details': 5223,
 'end': 5589,
 'vote': 10323,
 'nor': 7862,
 'open': 7977,
 'bank': 4016,
 'account': 3546,
 'apply': 3801,
 'social': 9376,
 'benefits': 4139,
 'à¦®à¦°': 10649,
 'moto': 7684,
 'chele': 4581,
 'rakom': 8619,
 'ma': 7351,
 'der': 5180,
 'chere': 4584,
 'dei': 5134,
 'tar': 9749,
 'pare': 8098,
 'ninda': 7843,
 'kare': 6958,
 'heat': 6345,
 'Nice': 2260,
 'msg': 7704,
 'protective': 8495,
 'comes': 4731,
 'girlfriend': 6120,
 'lgbt': 7201,
 'rocks': 8927,
 'Iam': 1603,
 'medical': 7496,
 'student': 9580,
 'atleast': 3901,
 'hrs': 6490,
 'subjects': 9600,
 'sake': 9010,
 'patients': 8136,
 'sacrifice': 8987,
 'drug': 5469,
 'adict': 3595,
 'dinner': 5297,
 'billionaire': 4196,
 'mental': 7523,
 'congress': 4814,
 'leftist': 7174,
 'intellectuals': 6762,
 'Hindustan': 1510,
 'jock': 6896,
 'group': 6211,
 'behind': 4117,
 'bar': 4024,
 'eliminated': 5558,
 '2023': 106,
 'wait': 10332,
 'govt': 6178,
 'spare': 9438,
 '2019': 103,
 'overrated': 8051,
 'Hit': 1516,
 'ayushmann': 3963,
 'Sayan': 2834,
 'Bose': 744,
 'Thanks': 3122,
 'Have': 1481,
 'watched': 10371,
 '3idiots': 197,
 'queen': 8577,
 'Parmanu': 2424,
 'Bajrangi': 633,
 'Bhaijaan': 693,
 'Sultan': 3020,
 'Dangal': 996,
 'Padman': 2407,
 'Better': 686,
 'try': 10050,
 'remove': 8791,
 'negativity': 7804,
 'studied': 9582,
 'Specially': 2976,
 'Army': 510,
 'security': 9122,
 'Al9': 442,
 'Alicia': 445,
 'Who': 3396,
 'beat': 4077,
 'afganistan': 3625,
 'cup': 5015,
 'Extremely': 1172,
 'sad': 8989,
 'tragic': 9993,
 'hat': 6315,
 'ranu': 8635,
 'Sucharita': 3015,
 'tyagi': 10080,
 'critic': 4976,
 'At': 548,
 '14': 42,
 '27': 167,
 'J2J5ssSP5yQ': 1670,
 '14m27s': 45,
 'Father': 1212,
 '12th': 34,
 'Homosexuality': 1532,
 'ban': 4006,
 'Pseudo': 2518,
 'liberals': 7209,
 'themselves': 9848,
 'too': 9954,
 'intolerant': 6788,
 'done': 5430,
 'Your': 3462,
 'sweet': 9709,
 'tube': 10056,
 'Naughty': 2238,
 'World': 3420,
 'hiii': 6387,
 ...}

In [ ]:
sentences = ['Rashmi likes ice cream', 'Rashmi hates chocolate.']

vectorizer = CountVectorizer()
vectorizer.fit(sentences)
vectorizer.vocabulary_

{'rashmi': 5, 'likes': 4, 'ice': 3, 'cream': 1, 'hates': 2, 'chocolate': 0}

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,y_train.task)

MultinomialNB()

In [ ]:
emails = [
    'Hey mohan can we get together to watch footbal game tommorow?',
    'Upto 20% discount on parking exclusive offer just for you. Dont miss this reward'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 0], dtype=int64)

In [ ]:
X_test_count = v.transform(X_test.Text)
X_test_count.shape

(1066, 10663)

In [ ]:
model.score(X_test_count,y_test)

0.9343339587242027

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
clf = Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [ ]:
clf.fit(X_train.Text,y_train.task)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [ ]:
clf.score(X_test.Text,y_test)

0.9380863039399625